## List Topics:

1. Creating a list
2. Accessing elements of a list
3. Slice a list
4. Change / Add elements to a list
5. Delete / remove elements of a list
6. Iterating through a list
7. Membership test
8. List Comprehension
9. List Methods

### 1. Create a list

In [11]:
a = []
b = [1, 2, 3, 4, 5, 6, 7, 8]
c = [a, 'Hello', {'a': 1}, ['A', 'B']]

### 2. Accessing elements

In [2]:
b[0]

1

In [6]:
b[-1]

8

In [7]:
c[3][0]

'A'

In [13]:
c[2]['a']

1

### 3. Slicing

In [14]:
b[:]

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
b[2:5]

[3, 4, 5]

In [16]:
b[:-2]

[1, 2, 3, 4, 5, 6]

In [17]:
b[2:]

[3, 4, 5, 6, 7, 8]

### 4. Change and add elements

In [18]:
b

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
b[1] = 'a'

In [20]:
b

[1, 'a', 3, 4, 5, 6, 7, 8]

In [22]:
b[2:4] = ['X', 'Y']

In [23]:
b

[1, 'a', 'X', 'Y', 5, 6, 7, 8]

##### 4.1. Adding using list methods

In [33]:
b = [1, 'a', 'X', 'Y', 5, 6, 7, 8]

In [34]:
b

[1, 'a', 'X', 'Y', 5, 6, 7, 8]

In [35]:
b.append(100)

In [36]:
b

[1, 'a', 'X', 'Y', 5, 6, 7, 8, 100]

In [37]:
b.extend([1001, 1002, 1003])

In [56]:
b = [1, 'a', 'X', 'Y', 5, 6, 7, 8, 100, 1001, 1002, 1003]

In [57]:
a = [33, 44, 55]

In [58]:
b.insert(1, 'AAA')

In [60]:
b

[1, 'AAA', 'a', 'X', 'Y', 5, 6, 7, 8, 100, 1001, 1002, 1003]

##### 4.2 Lists and operators

In [40]:
a = [33, 44, 55]

In [70]:
b = [1, 'a', 'X', 'Y', 5, 6, 7, 8, 100, 1001, 1002, 1003]

###### 4.2.1. Concatenation

In [71]:
a + b

[33, 44, 55, 1, 'a', 'X', 'Y', 5, 6, 7, 8, 100, 1001, 1002, 1003]

In [72]:
b + a

[1, 'a', 'X', 'Y', 5, 6, 7, 8, 100, 1001, 1002, 1003, 33, 44, 55]

###### 4.2.2. Repeating a list

In [73]:
a * 3

[33, 44, 55, 33, 44, 55, 33, 44, 55]

### 5. Deleting / removing elements from a list

##### 5.1. Using del keyword

In [74]:
b

[1, 'a', 'X', 'Y', 5, 6, 7, 8, 100, 1001, 1002, 1003]

In [75]:
del b[1]

In [76]:
b

[1, 'X', 'Y', 5, 6, 7, 8, 100, 1001, 1002, 1003]

In [77]:
del b[1:3]

In [78]:
b

[1, 5, 6, 7, 8, 100, 1001, 1002, 1003]

In [79]:
del b

In [80]:
b

NameError: name 'b' is not defined

In [82]:
b = [1, 'a', 'X', 'Y', 5, 6, 7, 8, 100, 1001, 1002, 1003]

##### 5.2. Delete using list methods

In [84]:
b.remove(5)

In [85]:
b

[1, 'a', 'X', 'Y', 6, 7, 8, 100, 1001, 1002, 1003]

In [86]:
b.remove('a')

In [87]:
b

[1, 'X', 'Y', 6, 7, 8, 100, 1001, 1002, 1003]

In [88]:
b.pop()

1003

In [89]:
b

[1, 'X', 'Y', 6, 7, 8, 100, 1001, 1002]

In [90]:
b.pop(1)

'X'

In [91]:
b

[1, 'Y', 6, 7, 8, 100, 1001, 1002]

In [92]:
b.clear()

In [93]:
b

[]

In [94]:
b = [1, 'a', 'X', 'Y', 5, 6, 7, 8, 100, 1001, 1002, 1003]

##### 5.3 Remove elements from a list by assigning an empty list to a slice

In [95]:
b[1:4] = []

In [96]:
b

[1, 5, 6, 7, 8, 100, 1001, 1002, 1003]

### 6. Iterating through a list

In [97]:
for item in b:
    print(item)

1
5
6
7
8
100
1001
1002
1003

### 7. List membership test

In [98]:
1 in b

True

In [99]:
'a' in b

False

In [100]:
'X' not in b

True

### 8. List Comprehension

Creating a new list from a iterable

In [103]:
pow2 = [2 ** x for x in range(10)]
pow2

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [105]:
odd = [x for x in range(20) if x % 2 == 1]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [106]:
prog_lang = [x+y for x in ['Python ','C '] for y in ['Language','Programming']]
prog_lang

['Python Language', 'Python Programming', 'C Language', 'C Programming']

### 9. List Methods

in separate jupyter file - Basic_06_04_list_methods